[submodule "Textbox"]
	path = Textbox
	url = https://github.com/marty1912/Textbox.git
[submodule "dragonbones"]
	path = dragonbones
	url = https://github.com/openfl/dragonbones
[submodule "assets/data/dna-trials"]
	path = assets/data/dna-trials
	url = git@github.com:marty1912/dna-trials.git
