marty@marty-Desktop:~$ haxe --version
4.1.5
marty@marty-Desktop:~$ haxelib list
actuate: [1.8.9]
assertion: [1.0.0]
box2d: 1.2.3 [dev:/home/marty/Nextcloud/projects/EGG_LAND/eggland/box2d]
console.hx: [0.2.12]
dragonbones: 5.1.1 git [dev:/home/marty/Nextcloud/Uni/Praktikum_2020/haxelTutorial/TestAndroid/dragonbones]
extension-orientation: [1.0.0]
FileSaver: [1.0.0]
flixel-addons: [2.9.0]
flixel-demos: [2.7.3]
flixel-templates: [2.6.5]
flixel-tools: [1.4.4]
flixel-ui: [2.3.3]
flixel: 4.3.0 4.8.1 [dev:/home/marty/Nextcloud/Uni/Praktikum_2020/haxelTutorial/TestAndroid/flixel]
format: [3.5.0]
hamcrest: [3.0.0]
howlerjs: [2.0.4]
hscript: [2.4.0]
hx3compat: [1.0.3]
hxbit: [1.5.0]
hxcpp-debug-server: 1.2.4 [dev:/home/marty/.vscode/extensions/vshaxe.hxcpp-debugger-1.2.4/hxcpp-debug-server]
hxcpp: 4.1.15 [4.2.1]
hxcs: 3.4.0 [4.2.0]
hxjava: 3.2.0 [4.2.0]
hxnodejs: [12.1.0]
hxWebSockets: [1.4.0]
jslibs: [1.2.1]
layout: [1.2.1]
lime-samples: [7.0.0]
lime: 2.9.1 [7.8.0]
mconsole: [1.6.0]
mcover: [2.2.2]
mergejson: [1.1.0]
mlib: [2.0.3]
munit: [2.3.5]
nape-haxe4: [2.0.22]
nape: 2.0.20 [dev:/home/marty/Nextcloud/projects/EGG_LAND/eggland/nape-haxe4/haxelib]
openfl-samples: [8.7.0]
openfl: 3.6.1 [9.0.2]
random: [1.4.1]
screen_orientation: [1.0.0]
spinehaxe: [3.5.0]
starling: [2.5.1]
systools: [1.1.0]
thx.core: [0.44.0]
thx.csv: [0.2.0]
tjson: [1.4.0]
uuid: [2.3.1]
waud: [1.0.3]
